.heading {
  letter-spacing: theme('letterSpacing[tighter]');
  font-family: var(--font-heading);
  font-kerning: none;

  &.centered {
    text-align: center;
  }
}

.size-2xl {
  @screen md {
    @apply text-7xl;
  }

  @screen 2xl {
    @apply text-[5rem] leading-none;
  }

  @apply text-5xl font-semibold;
}

.size-xl {
  @screen sm {
    @apply text-4xl;
  }

  @screen md {
    @apply text-5xl;
  }

  @screen xl {
    @apply text-[3.55rem] leading-none;
  }

  @screen 2xl {
    @apply text-6xl;
  }

  @apply text-3xl font-medium;
}

.size-lg {
  @screen md {
    @apply text-5xl;
  }

  @apply text-3xl font-medium;
}

.size-md {
  @screen md {
    @apply text-3xl;
  }

  @apply text-2xl font-medium;
}

.size-sm {
  @apply text-xl font-normal;
}
