@import './reset.css';
@import './inter.css';
@import './eina03.css';
@import './ibm-plex-mono.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-system: -apple-system, blinkmacsystemfont, segoe ui, roboto, oxygen,
    ubuntu, cantarell, fira sans, droid sans, helvetica neue, sans-serif;
  --font-body: 'Inter', var(--font-system), sans-serif;
  --font-code: 'IBM Plex Mono', var(--font-system), sans-serif;

  /* Easings */
  --ease-link: cubic-bezier(0.26, 1, 0.74, 1);
}

html {
  color-scheme: dark;
  scroll-padding-top: 60px;
  scroll-behavior: smooth;
}

html.no-scroll {
  body {
    overflow: hidden;
    max-height: 100vh;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  background-color: #101114;
  color: white;
  overflow-x: hidden;
}

body.inspect * {
  outline: 1px solid var(--inspect-color) !important;
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

::selection {
  color: black;
  background-color: theme('colors.green');
}

/* width */
::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.green');
}
